:root {
    --accent: #8c7a84;
    --spacing: 2.5em;
  }
  
  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  * { box-sizing: border-box; }
  
  a {
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  span {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    transition: 0.3s;
  }
  
  p {
    color: #949494;
    font-size: 0.8em;
    line-height: 30px;
    letter-spacing: 1px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    font-size: 3.3em;
    line-height: 1.3em;
  }
  
  header {
    padding: var(--spacing);
    background: #fff;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;
  }
  
  /* ====Navbar==== */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing);
    width: 100%;
  }
  
  ul a, ul span {
    font-weight: 700;
    background-image: linear-gradient(
      0deg, #111, #111
    );
    background-repeat: no-repeat;
    background-size: 0 2px;
    padding-bottom: 10px;
    background-position: 50% bottom; 
    cursor: pointer;
  }
  
  ul a:hover,
  ul span:hover,
  .controls span:hover,
  .controls span:hover,
  .search:focus {
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, var(--accent), var(--accent)
    );
  }
  
  nav span {cursor: pointer;}
  
  .brand {
    text-transform: capitalize;
    font-size: 2em;
  }
  
  nav li {
    display: inline-block;
    margin: 0 0.7em;
  }
  
  .search {
    text-align: center;
    border: none;
    outline: none;
    width: 8em;
    transition: 0.3s;
  }
  
  .search,
  .controls span,
  .active {
    background-image: linear-gradient(
      0deg, #111, #111
    );
    background-repeat: no-repeat;
    background-size: 50% 2px;
    padding-bottom: 10px;
    background-position: 50% bottom;
  }
  
  .search::placeholder {
    color: #111;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 700;
  }
  
  .search:focus {
    background-size: 120% 2px;
  }
  
  .form-mobile {
    display: none;
  }
  
  .menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Header Body */
  
  .header-body {
    display: grid;
    grid-template-columns: 1fr 1fr 3em;
    justify-content: center;
    align-content: center;
  }
  
  .header-body > div {
    margin: 0 var(--spacing);
  }
  
  .slider img {
    width: 100%;
    height: 100%;
  }
  
  .slider {
    position: relative;
  }
  
  .decoration-left,
  .decoration-right {
    background: var(--accent);
    position: absolute;
    z-index: 1;
  }
  
  .decoration-left {
    top: 50%;
    left: -8%;
    width: 16%;
    height: 70%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide1;
  }

  #construfor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .decoration-right {
    bottom: 0;
    right: -8%;
    width: 16%;
    height: 12em;
    animation: slide2;
  }
  
  .overlay {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: slide3;
    z-index: 0;
  }
  
  .anim {
    animation-duration: 0.8s;
    animation-timing-function: 
       cubic-bezier(.39,.08,.93,.42);
  }
  
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text > div {
    max-width: 27em;
  }
  
  .text p {
    background-image: linear-gradient(0deg, var(--accent), var(--accent)
    );
    background-repeat: no-repeat;
    background-size: 3px 100%;
    padding-left: var(--spacing);
    background-position: 0 0;
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social li {
    margin: 1.5em 0;
    writing-mode: vertical-rl;
    font-weight: 700;
  }
  
  /* Header Bottom */
  
  .header-bottom {
    margin: var(--spacing) 0 0 0;
  }
  
  .active {
    color: var(--accent);
    background-image: linear-gradient(
      0deg, var(--accent), var(--accent)
    );
  }
  
  .controls span {
    margin: 0 0.5em;
  }
  
  /* Animations */
  
  @keyframes slide1 {
    0% { height: 0; }
    100% { height: 70%; }
  }
  
  @keyframes slide2 {
    0% { height: 0; }
    100% {height: 12em; }
  }
  
  @keyframes slide3 {
    0% { height: 100%;}
    100% { height: 0; }
  }
  
  /* Responsive Design */
  
  @media screen and (max-width: 1000px) {
    .menu-btn {
      display: block;
    }
    nav .menu {
      background: #fff;
      position: absolute;
      left: 0;
      top: 5em;
      width: 100%;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transition: 0.6s;
      overflow: hidden;
      z-index: 9;
    }
    /* Open Class For Javascript Toggle */
    nav .menu-open {
      opacity: 1;
      height: 85%;
      overflow: visible;
    }
    nav .menu li {
      margin: 1em 0;
    }
    form:not(.form-mobile) {
      display: none;
    }
    .form-mobile {
      display: block;
      margin-top: 1.6em;
    }
  }
    
  @media screen and (max-width: 850px) {
    header {
      height: initial;
    }
    .header-body {
      grid-template-columns: 1fr;
    }
    .header-body > div:not(.slider) {
      margin: var(--spacing) 0;
    }
    .slider {
      margin: var(--spacing) 0;
    }
    .pagination {
      display: none;
    }
    .social {
      flex-direction: row;
    }
    .social li {
      margin: 0 1.5em;
      writing-mode: initial;
    }
  }
  
  @media screen and (max-height: 430px) {
    header .menu-open {
      height: 600px;
    }
  }

  dialog::backdrop{
    background-color: rgb(0 0 0 / .5);
  }

  dialog {
    border: none; 
    border-radius: 0.5em;
    box-shadow: 0 0 1em (0 0 0 / .3);
    width: 80%;
    font-size: 1rem;
    margin: auto; /* Centralizar o diálogo */
    padding: 5vw; /* Use vw para tornar o preenchimento responsivo */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    box-shadow: 2px 0px 47px 17px rgb(8, 8, 8, 0.67);
    -webkit-box-shadow: 2px 0px 47px 17px rgb(8, 8, 8, 0.67);
    -moz-box-shadow: 2px 0px 47px 170px rgba(8, 8, 8, 0.67);
  }
  
  @media (min-width: 768px) { /* Alterar para tamanho de tela maior do que 768 pixels */
    dialog {
      width: 50%; /* Reduzir o tamanho do diálogo em telas maiores */
      font-size: 1.8em; /* Aumentar o tamanho da fonte em telas maiores */
      padding: 40px; /* Usar valores fixos de preenchimento em telas maiores */
    }
  }
  
     
  #modal_close_projeto { 
    position: absolute;   
    right: 0.3rem;
    top: 0.3rem;
    border: 0;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;

    filter: brightness(0.9);
  }

  #projetos {
    margin: 0.1em 0;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
  }

  #modal_close_contato {
    position: absolute;   
    right: 0.3rem;
    top: 0.3rem;
    border: 0;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;

    filter: brightness(0.9);
  }

  #Contato {
    margin: 0.1em 0;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  #modal_close_sobre {
    position: absolute;   
    right: 0.3rem;
    top: 0.3rem;
    border: 0;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;

    filter: brightness(0.9);
  }

  #sobre {
    margin: 0.1em 0;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .icon_contato {
    display: flex;
    justify-content: center;
    margin: 3vw 0; /* Use vw para tornar as margens responsivas */
    margin-bottom: -1.5vw; /* Use vw para tornar as margens responsivas */
  }
  
  .icon_contato a {
    color: #000;
    font-size: 1.5vw; /* Use vw para tornar o tamanho da fonte responsivo */
    margin: 0 2vw; /* Use vw para tornar as margens responsivas */
    transition: color 0.3s;
  }
  
  .icon_contato a:hover {
    color: #3B5998;
  }
  
  .email {
    margin-top: 1.5vw; /* Use vw para tornar as margens responsivas */
    margin-bottom: -2vw; /* Use vw para tornar as margens responsivas */
  }
  
  @media (max-width: 768px) { /* Alterar para telas menores do que 768 pixels */
    .icon_contato a {
      font-size: 3vw; /* Reduzir o tamanho da fonte em telas menores */
      margin: 0 1vw; /* Reduzir o espaçamento entre ícones em telas menores */
    }
    
    .email {
      margin-top: 1vw; /* Reduzir a margem superior em telas menores */
      margin-bottom: -1.5vw; /* Reduzir a margem inferior em telas menores */
    }
  }
  
  .contato {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  
  .contato a {
    display: inline-block;
    margin: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .contato a:hover {
    transform: scale(1.2);
  }
  
  @media only screen and (max-width: 600px) {
    .contato {
      font-size: 1rem;
    }
    
    .contato a {
      margin: 0.5rem;
    }
  }
  
  p {
    font-weight: 600;
    color: #000;
  }

  
  .image-slider {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
  }
  
  .slider-wrapper {
    display: flex;
    width: 500%;
    animation: slide 20s linear infinite;
  }
  
  .slide {
    position: relative;
    width: 20%;
    flex-shrink: 0;
  }
  
  .slide img {
    width: 100%;
  }
  
  .slide p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .slide:hover p {
    opacity: 1;
  }

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 20px;
  }
  .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    font-size: 16px;
  }
  